<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"></meta>
	<title>Image Recognizer</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/IR.css}">
</head>
<body>
	<div class="container">
		<form action="#" th:action="@{/cloudresponse}" th:object="${imageDetail}" method="post">
			<label>Image URL</label> 
			<input type="text" placeholder="Enter the Image URL.." th:field="*{imageUrl}" >
			<div id="goButton">
				<input type="submit" value="Go">
			</div>
		</form>
	</div>
</body>
</html>